<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Status
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div id="container">
        <p *ngIf="paperStatus">
            <ion-icon name="trash-outline"></ion-icon>
            <b>Paper Basket Status</b>: <i>{{paperStatus}}</i>
        </p>
        <br>

        <p *ngIf="plasticStatus">
            <ion-icon name="trash-outline"></ion-icon>
            <b>Plastic Basket Status</b>: <i>{{plasticStatus}}</i>
        </p>
    </div>
</ion-content>