<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Status
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div id="container">
        <p>
            <ion-icon name="trash-outline"></ion-icon>
            <b>Paper Basket Status</b>: <i *ngIf="paperStatus">{{paperStatus}}</i>
        </p>
        <br>

        <p>
            <ion-icon name="trash-outline"></ion-icon>
            <b>Plastic Basket Status</b>: <i *ngIf="plasticStatus">{{plasticStatus}}</i>
        </p>
    </div>
</ion-content>