<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Info
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div id="container">
        <p>1.Go to Trash section
            <ion-icon name="trash-outline"></ion-icon>
        </p>
        <br>
        <p>2.Click the Scan Button
            <ion-icon name="scan-outline"></ion-icon>
        </p>
        <br>
        <p>3.Scan your product's barcode
            <ion-icon name="barcode-outline"></ion-icon>
        </p>
        <br>
        <p>4.Throw your product inside the can
            <ion-icon name="basket-outline"></ion-icon>
        </p>
    </div>
</ion-content>