#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#myImg {
    width: 128px;
    height: 128px;
    margin: auto;
    display: block;
}