<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Profile
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <div id="container" *ngIf="user">
        <div id="image-div">
            <img id="myImg" src="../../assets/user.png" alt="">
        </div>
        <br>

        <p>email: {{user.email}}
        </p>
        <br>

        <p>name: {{user.displayName}}
        </p>
        <br>

        <ion-button color="danger" (click)="exitApp()">
            <p>Logout
                <ion-icon name="exit"></ion-icon>
            </p>
        </ion-button>

    </div>
</ion-content>