<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Profile
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <div id="container" *ngIf='userReady'>
        <div id="image-div">
            <ion-img id="myImg" [src]="user.picture"></ion-img>
            <br>
        </div>


        <p>email: {{user.email}}
        </p>
        <br>

        <p>name: {{user.name}}
        </p>
        <br>

        <ion-button color="danger" (click)="exitApp()">
            <p>Logout
                <ion-icon name="exit"></ion-icon>
            </p>
        </ion-button>

    </div>
</ion-content>