<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Trash
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div id="container">


        <ion-button (click)="scanCode()">
            <p>
                Scan
                <ion-icon name="scan-outline"></ion-icon>
            </p>

        </ion-button>

        <!-- <div *ngIf="scannedData">
            <p>
                Scanned Code Text : <b>{{ scannedData }}</b>
            </p>
        </div> -->


        <div *ngIf="encodeData">
            <section>
                <br>
                <ngx-qrcode [(qrc-value)]="encodeData"></ngx-qrcode>
                <!-- <br>
                <p>{{encodeData}}</p> -->
                <p><b>Show this QR to the QRCodeReader</b></p>
            </section>
        </div>

        <br>


        <ion-button color="primary" (click)="addProduct()">Add Product</ion-button>



    </div>
</ion-content>